<nav class="navbar navbar-expand-lg navbar-light bg-white px-3 shadow-sm">
    
    <a class="navbar-brand d-flex align-items-center" href="../Pages/Home.html">
        <img src="../IMG/LogoMentorMatch.png" alt="MentorMatch logo" class="logo-img me-2" />
        MentorMatch
    </a>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ms-auto">

            <li class="nav-item">
                <a class="nav-link" href="../Pages/Home.html">Home</a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="../Pages/CatalogoMentors.html">Mentors</a>
            </li>

            <li class="nav-item">
                <a class="nav-link" id="dashboardLink" href="../Pages/MenteeDashBoard.html">Dashboard</a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="../Pages/Profile.html">Profile</a>
            </li>

            <li class="nav-item">
                <a class="nav-link text-danger" id="logoutBtn" href="#">Logout</a>
            </li>

        </ul>
    </div>
</nav>
